* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
.aboutheader {
    width: 100%;
    height: 100px;
    background-color: #159A9C;
}
.aboutnav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.aboutnav ul {
    list-style-type: none;
}
.aboutnav ul li {
    display: inline-block;
    font-size: 24px;
    color: white;
    font-weight: bold;
    flex: 1 1 auto;
    margin: 20px;
}